<h1>Command Line Menu</h1>
<hr />

<ol>
  <li>
    <a href='/command_line_list'>Command Line List</a>
  </li>
  <li>
    <a href='/search'>Search</a>
  </li>
  <li>
    <a href="http://www.google.com" target='_blank'>Google</a>
  </li>
</ol>